p{
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    font-style: normal;

}
button{
    padding: 20px;
    margin: 50px;
}
img{
    width: 250px;
}
#content-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#img-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}